@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9702 0 0);
    --foreground: oklch(0.2178 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.2178 0 0);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9067 0 0);
    --secondary-foreground: oklch(0.2178 0 0);
    --muted: oklch(0.9067 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.9340 0 0);
    --accent-foreground: oklch(0.2178 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8452 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.2178 0 0);
    --chart-1: oklch(0.5685 0.1187 154.9491);
    --chart-2: oklch(0.5880 0.0993 245.7394);
    --chart-3: oklch(0.6344 0.1550 50.2665);
    --chart-4: oklch(0.5338 0.2503 301.3750);
    --chart-5: oklch(0.5265 0.1151 44.6044);
    --radius: 0rem;
    --sidebar: oklch(1.0000 0 0);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.2178 0 0);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9340 0 0);
    --sidebar-accent-foreground: oklch(0.2178 0 0);
    --sidebar-border: oklch(0.8452 0 0);
    --sidebar-ring: oklch(0.2178 0 0);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Sorts Mill Goudy, ui-serif, serif;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0em}
  .dark {
    --background: oklch(0.1722 0.0041 106.8174);
    --foreground: oklch(0.9927 0.0364 107.0448);
    --card: oklch(0.1722 0.0041 106.8174);
    --card-foreground: oklch(0.9927 0.0364 107.0448);
    --popover: oklch(0.1722 0.0041 106.8174);
    --popover-foreground: oklch(0.9927 0.0364 107.0448);
    --primary: oklch(0.9927 0.0364 107.0448);
    --primary-foreground: oklch(0.1722 0.0041 106.8174);
    --secondary: oklch(0.4856 0.0171 107.0202);
    --secondary-foreground: oklch(0.9927 0.0364 107.0448);
    --muted: oklch(0.1722 0.0041 106.8174);
    --muted-foreground: oklch(0.6357 0.0218 107.0046);
    --accent: oklch(0.6357 0.0218 107.0046);
    --accent-foreground: oklch(0.9927 0.0364 107.0448);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9927 0.0364 107.0448);
    --border: oklch(0.4856 0.0171 107.0202);
    --input: oklch(0.4856 0.0171 107.0202);
    --ring: oklch(0.9927 0.0364 107.0448);
    --chart-1: oklch(0.5685 0.1187 154.9491);
    --chart-2: oklch(0.5880 0.0993 245.7394);
    --chart-3: oklch(0.6344 0.1550 50.2665);
    --chart-4: oklch(0.5338 0.2503 301.3750);
    --chart-5: oklch(0.5265 0.1151 44.6044);
    --radius: 0rem;
    --sidebar: oklch(0.2178 0 0);
    --sidebar-foreground: oklch(0.9702 0 0);
    --sidebar-primary: oklch(0.9702 0 0);
    --sidebar-primary-foreground: oklch(0.2178 0 0);
    --sidebar-accent: oklch(0.3092 0 0);
    --sidebar-accent-foreground: oklch(0.9702 0 0);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.9702 0 0);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Sorts Mill Goudy, ui-serif, serif;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0.00)}
  .theme {
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --font-serif: Sorts Mill Goudy, ui-serif, serif;
    --radius: 0rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em)
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}